# /etc/systemd/system/project.service

[Unit]
Description=My WSGI Project
After=network.target

[Service]
Type=simple
User=
Group=
WorkingDirectory=/opt/project
ExecStart=/opt/project/.venv/bin/python3 start.py
Restart=always

[Install]
WantedBy=multi-user.target